*{
    text-align: justify;
    text-align-last: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(139, 98, 22);
}

h1{
    font-size: 36px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

body{
    background: linear-gradient(180deg, #E6D391, #E6DD91);
    max-width: 800px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    /* Style rules for screens with a width of less than 768px */
    .conteudo {
      width: 50%;
      height: 50%;
      font-size: 0.5em;
    }
  }

ol {
    list-style-position: inside;
}

#recipes:hover{
    border: 0.5px solid black;
    border-radius: 6px;
    color: black;
    background-color: rgba(139, 98, 22, 0.3);
    text-decoration: none;
}

#recipes-list{
    padding: 10px;
}

.block{
    display: block;
    margin: auto;
    border-radius: 90px;
    width: min(70%, 350px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.479);
}

button{
    margin: 10px;
    border: none;
    background-color: transparent;
}